h1{
  font-family: verdana; 
  font-size: 40pt;         
  font-style: normal; 
  font-weight: ; 
  color: yellow;
  text-align: center; 
  
}
.box{
	width: 900px;
	height: 610px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	backdrop-filter: blur(50px);
	box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
}
table{
  font-family: Verdana; 
  color:black; 
  font-size: 16pt; 
  font-style: normal;
  font-weight: bold ;
  text-align:; 
  
}
button{
	 font-family: Calibri;
	background-color: yellow;
	border-color: black;
	color: black;
	padding: 15px 32px;
	text-align: center;
	font-size: 18pt;
	font-weight: bold  ;
	border-radius: 15px;
	cursor: pointer;
}
.btn1{
	 box-shadow: 0 4px black;
	 position: relative
}
.btn1::after{
	content:'e163';
}

.btn2{box-shadow: 0 4px black;
	 position: relative
	 
}
.btn3{box-shadow: 0 4px black;
	 position: relative
	
}